body {
  font-family: 'Tenor Sans', sans-serif;
  background-color: #5CE0D8;
  color: #191414;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
}

h1.header-title {
  font-size: 3rem;
  text-align: center;
}

.App {
  width: 800px;
  max-width: 90vw;
  margin: 0 auto;
}

.card {
  padding: 20px;
  text-align: center;
  background-color: #01345B;
  color: #fff;
}

.accent {
  color: #01345B;
  background-color: #FFCF43;
}

button {
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #5CE0D8;
  color: #191414;
}

label,
select {
  display: block;
}

label {
  margin-top: 30px;
}

select {
  padding: 10px;
  font-size: 22px;
  width: 100%;
  margin-bottom: 10px;
}

.selected-restaurant {
  font-size: 3em;
  padding: 15px;
  border: solid 1px #FFCF43;
}